In [15]:
import pandas as pd
import numpy as np

In [16]:
file='OT_trader_input_format5.xlsx'

In [17]:
time_buc =pd.read_excel(file,sheet_name='Time Buckets')
tc_cur =pd.read_excel(file,sheet_name='TC Curve')

base_disc =pd.read_excel(file,sheet_name='Base_discounts')
top_disc =pd.read_excel(file,sheet_name='Top-off_discounts')
base_spec =pd.read_excel(file,sheet_name='Base_cargo_specs')
top_spec =pd.read_excel(file,sheet_name='Top-off_cargo_specs')
parc_spec =pd.read_excel(file,sheet_name='Parcel_calc_specs')
fc_cur =pd.read_excel(file,sheet_name='fwprices')

In [18]:
time_buc

  time_bucket relative_time_bucket_designation absolute_time_bucket_start
0          T1                               R1                 2022-01-12
1          T2                               R2                 2023-01-01
2          T3                               R3                 2023-02-01
3          T4                               R4                 2023-03-01
4          T5                               R5                 2023-04-01

In [41]:
base_spec

,Base cargo no parcel option terms,Unnamed: 1,OT trader calc inputs,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Base cargo name,Base cargo IMOS estimate,Base discount curve,TC reference,IFO,LSF,LSG,MGO
1,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Gibraltar_IFO,Rotterdam_VLSFO,Singapore_LSG,Singapore_MGO
2,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Singapore_IFO,Singapore_VLSFO,Singapore_LSG,Singapore_MGO
3,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Singapore_IFO,Singapore_VLSFO,Singapore_LSG,Singapore_MGO
4,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Singapore_IFO,Singapore_VLSFO,Singapore_LSG,Singapore_MGO
5,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,RichardsBay_IFO,Singapore_VLSFO,Rotterdam_LSG,Singapore_MGO
6,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Singapore_IFO,Singapore_VLSFO,Singapore_LSG,Singapore_MGO
7,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Singapore_IFO,Singapore_VLSFO,Singapore_LSG,Singapore_MGO
8,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Singapore_IFO,Singapore_VLSFO,Singapore_LSG,Singapore_MGO
9,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Singapore_IFO,Singapore_VLSFO,Singapore_LSG,Singapore_MGO
10,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Singapore_IFO,Singapore_VLSFO,Singapore_LSG,Singapore_MGO
11,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Singapore_IFO,Singapore_VLSFO,Singapore_LSG,Singapore_MGO
12,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Singapore_IFO,Rotterdam_VLSFO,Singapore_LSG,Singapore_MGO
13,45/10 NP/China,RGE2-08649,base_discount_1,tc_curve_1,Singapore_IFO,Singapore_VLSFO,Singapore_LSG,Singapore_MGO

In [42]:
base_spec.at[1,'Unnamed: 4']

'Gibraltar_IFO'

In [25]:
column_headers = list(fc_cur.columns.values)

In [29]:
column_headers
column_headers.remove(column_headers[0])
column_headers

['BuenosAires_LSG',
 'Callao_VLSFO',
 'Callao_MGO',
 'Cristobal_IFO',
 'Cristobal_VLSFO',
 'Cristobal_LSG',
 'Durban_IFO',
 'Durban_VLSFO',
 'Durban_MGO',
 'Fujairah_IFO',
 'Fujairah_VLSFO',
 'Fujairah_LSG',
 'Gibraltar_IFO',
 'Gibraltar_VLSFO',
 'Gibraltar_LSG',
 'Gibraltar_MGO',
 'Hamburg_IFO',
 'Hamburg_LSG',
 'HongKong_IFO',
 'HongKong_LSG',
 'HongKong_VLSFO',
 'Japan_IFO',
 'Japan_VLSFO',
 'Japan_LSG',
 'LasPalmas_IFO',
 'LasPalmas_VLSFO',
 'LasPalmas_LSG',
 'Mumbai_IFO',
 'Mumbai_MGO',
 'Murmansk_IFO',
 'Murmansk_LSG',
 'NewOrleans_IFO',
 'NewOrleans_VLSFO',
 'NewOrleans_LSG',
 'NthBrazil_IFO',
 'NthBrazil_MGO',
 'NthChina_IFO',
 'NthChina_VLSFO',
 'NthChina_LSG',
 'Paranagua_VLSFO',
 'Paranagua_MGO',
 'RichardsBay_IFO',
 'RichardsBay_MGO',
 'Rotterdam_IFO',
 'Rotterdam_VLSFO',
 'Rotterdam_LSG',
 'Santos_VLSFO',
 'Santos_MGO',
 'Shanghai_IFO',
 'Shanghai_VLSFO',
 'Shanghai_LSG',
 'Singapore_IFO',
 'Singapore_VLSFO',
 'Singapore_LSG',
 'Singapore_MGO',
 'Tubarao_VLSFO',
 'Tubarao_MGO',
 'Ulsan_IFO',
 'Ulsan_VLSFO',
 'Ulsan_LSG',
 'Vancouver_IFO',
 'Vancouver_VLSFO',
 'Vancouver_LSG',
 'PortElizabeth_VLSFO',
 'RioGrande_VLSFO',
 'RioDeJaneiro_VLSFO',
 'Gothenburg_IFO',
 'Gothenburg_VLSFO',
 'Gothenburg_LSG',
 'Amsterdam_IFO',
 'Amsterdam_VLSFO',
 'Amsterdam_LSG',
 'Ijmuiden_IFO',
 'Ijmuiden_LSG',
 'Kohsichang_VLSFO',
 'Ghent_IFO',
 'Ghent_LSG']

In [22]:
len(base_disc.index)

5

In [21]:
top_disc

        Time  top_off_discount_1  top_off_discount_2
0 2022-01-12                  -1                  -1
1 2023-01-01                  -1                  -1
2 2023-02-01                  -1                  -1
3 2023-03-01                  -1                  -1
4 2023-04-01                  -1                  -1

In [19]:
fc_cur

,Month,BuenosAires_VLSFO,BuenosAires_LSG,Callao_VLSFO,Callao_MGO,Cristobal_IFO,Cristobal_VLSFO,Cristobal_LSG,Durban_IFO,Durban_VLSFO,...,Gothenburg_VLSFO,Gothenburg_LSG,Amsterdam_IFO,Amsterdam_VLSFO,Amsterdam_LSG,Ijmuiden_IFO,Ijmuiden_LSG,Kohsichang_VLSFO,Ghent_IFO,Ghent_LSG
0,2022-01-12,500,500,500,500,500,500,500,500,500,...,500,500,500,500,500,500,500,500,500,500
1,2023-01-01,500,500,500,500,500,500,500,500,500,...,500,500,500,500,500,500,500,500,500,500
2,2023-02-01,500,500,500,500,500,500,500,500,500,...,500,500,500,500,500,500,500,500,500,500
3,2023-03-01,500,500,500,500,500,500,500,500,500,...,500,500,500,500,500,500,500,500,500,500
4,2023-04-01,500,500,500,500,500,500,500,500,500,...,500,500,500,500,500,500,500,500,500,500

In [ ]:
def function9(file):
    time_buc =pd.read_excel(file,sheet_name='Time Buckets')
    tc_cur =pd.read_excel(file,sheet_name='TC Curve')
    base_disc =pd.read_excel(file,sheet_name='Base_discounts')
    top_disc =pd.read_excel(file,sheet_name='Top-off_discounts')
    base_spec =pd.read_excel(file,sheet_name='Base_cargo_specs')
    top_spec =pd.read_excel(file,sheet_name='Top-off_cargo_specs')
    parc_spec =pd.read_excel(file,sheet_name='Parcel_calc_specs')
    fc_cur =pd.read_excel(file,sheet_name='fwprices')

In [ ]:
def function1(df1):#time buckets
    df1.drop_duplicates(subset="absolute_time_bucket_start", keep='first', inplace=False)

In [ ]:
def function2(df2):#tc curve
    df2.drop_duplicates(subset="Time", keep='first', inplace=False)

In [ ]:
def function3(df3):#base discount
    df3.drop_duplicates(subset="Time", keep='first', inplace=False)
    
    for i in range(len(base_disc.index)):
        if (base_discount_1[i] > 0):
            print("Discount cannot be more than 0 for base cargo discount 1 for date:" + Time[i])
        if (base_discount_2[i] > 0):
            print("Discount cannot be more than 0 for base cargo discount 2 for date: " + Time[i])

In [ ]:
def function4(df4):#top off discount
    df4.drop_duplicates(subset="Time", keep='first', inplace=False)
    
    for i in range(len(top_disc.index)):
        if (top_off_discount_1[i] > 0):
            print("Discount cannot be more than 0 for top off cargo discount 1 for date:" + Time[i])
        if (top_off_discount_2[i] > 0):
            print("Discount cannot be more than 0 for top off cargo discount 2 for date: " + Time[i])

In [ ]:
def function5(df5):#base cargo specs
    for i in range(len(top_disc.index)):
        df5['IFO'][]

In [ ]:
def function6(df6):#top of cargo specs

In [ ]:
def function7(df7):#parcel calc specs

In [ ]:
def function8(df8):#fw prices
    column_headers = list(df8.columns.values)
    column_headers.remove(column_headers[0])
    return column_headers

In [24]:
def function10(file1):
    function9(file1)
    function8(fc_cur)#calling this function first since a later df needs to access contents of this df
    
    function1(time_buc)
    function2(tc_cur)
    function3(base_disc)
    function4(top_disc)
    function5(base_spec)
    function6(top_spec)
    function7(parc_spec)

In [ ]:
if __name__=="__main__":
    
    file='OT_trader_input_format5.xlsx'
    function10(file)